@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: 249, 250, 251;
  --color-primary:    17, 17, 17;
  --color-secondary:  90, 90, 90;
  --color-fg:         0, 0, 0;
}

.dark {
  --color-background: 17, 17, 17;
  --color-primary:    255, 255, 255;
  --color-secondary:  229, 231, 235;
  --color-fg:         255, 255, 255;
}

body {
  background-color: rgba(var(--color-background), 1);
  color: rgba(var(--color-primary), 1);
  @apply font-sans antialiased selection:bg-accent selection:text-black;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(var(--color-background), 1);
}
::-webkit-scrollbar-thumb {
  background: rgba(var(--color-fg), 0.2);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--color-fg), 0.35);
}
